* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    background-image: linear-gradient(to right, rgb(48, 1, 235), rgb(192, 0, 224));
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-image: linear-gradient(to right, rgb(48, 1, 235), rgb(192, 0, 224));
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

nav {
    background: #333;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background: #22b2e7;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.login {
    padding: 20px 0;
    background: white;
    margin-bottom: 20px;
    border-radius: 8px;
}

.login h1 {
    margin-bottom: 20px;
    color: #44149e;
    text-align: center;
}

.login p,
.login ul {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    nav ul li {
        display: block;
    }

    form button {
        width: 100%;
    }
}
